/*ESTILOS GENERALES*/

*{
    margin: 0;
    padding: 0;
}

/* COLORES:

Naranja cabecera: #F1AA7E
Negro video y footer: #33353C
Gris contenido: #F4F3F2
logo naranja: #FDE5D1

*/

/*CABECERA*/
header{
    width: 100%;
    height: auto;
}

header .redesHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

header .redesHeader img{
    width: 2em;
}

/*MENU CABECERA*/

#menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #F1AA7E;
    height: 15vh;
    text-align: center;
}

#munu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
}

#menu ul li{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    list-style: none;
}

#menu ul li a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.logo{
    padding: 0.7em;
    color: #FDE5D1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*SECCION - VIDEO*/

#seccionVideo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #33353C;
}

#video{
    width: 100%;
}

#video iframe{
    width: 100%;
    height: 20vh;
    max-height: 80vh;
    margin-bottom: 1em;
}

/*FORMULARIO*/

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F3F2;
    width: 80%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 5px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

input[type="text"],
input[type="password"]{
    height: 20px;
    margin-top: 1em;
 }

.login ul li{
    list-style: none;
    text-align: center;
    margin: 5px;
}

.login ul li a{
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F1AA7E;
}

.login ul li a:hover{
    text-decoration: underline;
}

input[type="submit"]{
    padding: 5px;
    margin-top: 10px;
    color: #33353C;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #F1AA7E;
    background-color: #FDE5D1;
}

/*CONTENIDO*/

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #F4F3F2;
}

.content h2{
    width: 70%;
    background-color: #33353C;
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.imagen{
    margin: 1em;
}

.caja-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1em;
    background-color: #dd8e5c;
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.caja-flex article{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.fuente{
    margin: 10px;
    color: #33353C;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Alex Brush', cursive;
}

/*FOOTER*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: #33353C;
    height: auto;
    color: #FDE5D1;
}

.footer .logo{
    text-align: center;
    margin-top: 1em;
}

.footer p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer .redesFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.footer .redesFooter img{
    width: 2em;
}


